[package]
name = "launcher"
version = "1.0.0"
edition = "2021"

[dependencies]
configparser = "3.0.0"
anyhow = "1.0"
chrono = "0.4"

[profile.release]
lto = true
codegen-units = 1
opt-level = "z"
strip = true
panic = "abort"
